body{
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: serif;
}


.Nome{
    font-family: "Jersey 20", sans-serif;
    font-size: 4vw;
    margin-bottom: 2vh;
    margin-top: 0;
}

main{
    margin-left:3vw;
    margin-top: 5vh;
    max-width: 56vw;
    padding: 2vw;
    padding-top: 1vw;
    border-radius: 1rem;

    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(60deg, rgba(36, 36, 36, 0.2), rgba(255, 255, 255, 0.3));
}

main img{
    aspect-ratio: 3/4;
    max-width: 16rem;
}

article{
    display: flex;
    flex-direction: row;
}

article div{
    margin-left: 2%;
    max-width: 90%;
}

.texto{
 display: flex;
 flex-direction: column;
}

.descricao{
    font-size: 1.7vw;
}

.citacao{
    margin-top: 3vh;
    font-size: 1.5vw;
    font-style: italic;
    max-width: 100%;
    height: auto;
    background-color: #242424;
    padding: 0.01vh 0.05vw 0.01vh 1vw;
    border-radius: 1rem;
}

.coneccoes{
    background-color: #242424;
    border-radius: 1rem;

    padding: 1vw;
    min-width: 80%;
    height: 16vh;
    margin-top: 5vh;
}

.coneccoes .contatos{
    display: flex;
    flex-direction: row;
    padding-top: 1.5vh;
}

.links{
display: flex;
flex-direction: column;
margin: 0 2vh;
align-items: center;
}

.links:hover{
    color: #8b8b8b;
}

a{
    font-size: small;
}
.fa-brands,.fa-solid{
    font-size: 2.5rem;
}